name: CD

on:
  push:
    branches: ['master']
    paths-ignore: ['docs/**']

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        run: docker build -t sudarshandevops/safetyappbackend .

      - name: Deploy to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push image to dockerhub
        run: docker push sudarshandevops/safetyappbackend:latest
