name: CD

on:
  push:
    branches: ['master']
    paths-ignore: ['docs/**']

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker build sudarshandevops/safetyappbackend:latest .

      - name: Deploy to dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        
      - name: Push image to dockerhub
        run: docker push sudarshandevops/safetyappbackend:latest

        